@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";
  --font-sono: "Sono", "sans-serif";
}

@layer base {
  body {
    @apply text-gray-700 transition-colors duration-300 min-h-dvh;
  }
  *:disabled {
    @apply cursor-not-allowed;
  }
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  select:disabled, input:disabled {
    @apply bg-gray-500;
  }
  button {
    @apply cursor-pointer;
  }
  button:has(svg) {
    @apply leading-0;
  }
  input:focus, button:focus, select:focus, textarea:focus {
    @apply outline-2 outline-indigo-600 -outline-offset-1;
  }
  img {
    @apply w-full;
  }
  p, h1, h2, h3, h4, h5, h6 {
    @apply wrap-break-word hyphens-auto;
  }
}

@layer utilities {
  .spinner {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 9999px; /* rounded-full */
    animation: spin 1.5s linear infinite;
    background:
        radial-gradient(farthest-side, theme("colors.indigo.600") 94%, #0000)
        top/10px 10px no-repeat,
        conic-gradient(#0000 30%, theme("colors.indigo.600"));
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 10px),
        black calc(100% - 9px)
    );
    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 10px),
        black 0
    );
    background-repeat: no-repeat;
  }

}