@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "sans-serif";
  --font-sono: "Sono", "sans-serif";
}

@layer base {
  body {
    @apply text-gray-700 transition-colors duration-300 min-h-dvh;
  }
  *:disabled {
    @apply cursor-not-allowed;
  }
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  select:disabled, input:disabled {
    @apply bg-gray-500;
  }
  button {
    @apply cursor-pointer;
  }
  button:has(svg) {
    @apply leading-0;
  }
  input:focus, button:focus, select:focus, textarea:focus {
    @apply outline-2 outline-indigo-600 -outline-offset-1;
  }
  img {
    @apply w-full;
  }
  p, h1, h2, h3, h4, h5, h6 {
    @apply wrap-break-word hyphens-auto;
  }
}

@layer components {
  .sidebar.active {
    @apply rounded-sm bg-gray-50 text-gray-800;
  }

  .form-row:has(button) {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 12px !important;
  }
}

@layer utilities {
  .file-input {
    font-size: 14px;
    border-radius: theme(borderRadius.sm);
  }

  .file-input::file-selector-button {
    font: inherit;
    font-weight: 500;
    padding: 8px 12px;
    margin-right: 12px;
    border-radius: theme(borderRadius.sm);
    border: none;
    color: theme(colors.indigo.50);
    background-color: theme(colors.indigo.600);
    cursor: pointer;
    transition:
        color 0.2s,
        background-color 0.2s;
  }

  .file-input::file-selector-button:hover {
    background-color: theme(colors.indigo.700);
  }

  .spinner {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 9999px; /* rounded-full */
    animation: spin 1.5s linear infinite;
    background:
        radial-gradient(farthest-side, theme("colors.indigo.600") 94%, #0000)
        top/10px 10px no-repeat,
        conic-gradient(#0000 30%, theme("colors.indigo.600"));
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 10px),
        black calc(100% - 9px)
    );
    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 10px),
        black 0
    );
    background-repeat: no-repeat;
  }

}